@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{  font-family: "Red Hat Display", sans-serif};


#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev{
    display:none;
    opacity: 0;
  }
  .swiper-button-next{
    display:none;
    opacity: 0;
  }
  .swiper-button-disabled{
    opacity: 0 !important;
    display: none !important;
    background-color: transparent !important;
  }


  .swiper-pagination {
   
    position: absolute !important;
    top: 80% !important; 
    left: -40% !important; 
    z-index: 10 !important; 
  }
  .swiper-pagination-bullet {
    background-color: white !important;
  }
  
  
  .menu_list_item:hover {
    background-color:transparent !important;
  }

  .menu_list_item:focus {
    background-color:transparent !important;
    color:red !important;
  }

  .w-full.p-3.rounded-lg.text-start.leading-tight.transition-all.hover\:bg-blue-gray-50.hover\:bg-opacity-80.focus\:bg-blue-gray-50.focus\:bg-opacity-80.active\:bg-opacity-80.active\:text-blue-gray-900.outline-none.bg-blue-gray-50\/50.menu_list_item.flex.items-center.gap-2.py-2.pr-4.font-medium.text-black.lg\:text-white.hover\:text-red-500 {
    background: transparent;
}
